<h2>发布起床记录</h2>
<% form_for(new_record) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :time, '起床时间' %><br />
    <%= f.time_select :time %>
  </p>
  <p>
    <%= f.label :message, '附上简短留言' %><br />
    <%= f.text_area :message, :rows => 2, :maxlength => 250 %>
  </p>
  <p>
    <%= f.submit 'Create', :value => '提交' %>
  </p>
<% end %>