<p>
  <b>User:</b>
  <%=h @wakeup_record.user_id %>
</p>

<p>
  <b>Time:</b>
  <%=h @wakeup_record.time %>
</p>

<p>
  <b>Message:</b>
  <%=h @wakeup_record.message %>
</p>


<%= link_to 'Edit', edit_wakeup_record_path(@wakeup_record) %> |
<%= link_to 'Back', wakeup_records_path %>