<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="author" content="dev@awake.la" />
    <meta name="robots" content="index, follow" />
    <title>awake.la</title>
    <%= stylesheet_link_tag 'base' %>
	<!-- <%= javascript_include_tag :defaults%> -->
	<%= javascript_include_tag 'awakela.base'%>
	<%= yield(:head) -%>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
		<a href="/"><h1>Awake.La</h1></a>
		<% if flash[:notice] %>
			<p style="color: green"><%= flash[:notice] %></p>
		<% end -%>
		<%= yield(:header) -%>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
		<% if logged_in? %>
			<%= render :partial => 'sessions/timezone_select' -%>
			<a href="/sessions/destroy">退出</a>
		<% end -%>
      </div>
  </body>
</html>
