<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="author" content="dev@awake.la" />
    <meta name="robots" content="index, follow" />
    <title>awake.la</title>
    <%= stylesheet_link_tag 'base' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
		<h1>Awake.La</h1>
		<% if flash[:notice] %>
			<p style="color: green"><%= flash[:notice] %></p>
		<% end -%>
		<% if logged_in? %>
			<div class="user-status">
				你好，<%= @current_user.username %>。
			</div>
		<% else %>
			<%= render :partial => "shared/login" %>
		<% end -%>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
		<% if logged_in? %>
			<a href="/sessions/destroy">退出</a>
		<% end -%>
      </div>
  </body>
</html>
